<%#= render "shared/errors", obj: @entry %>

<table class="attr">
  <tr>
    <th width="80"><%= form.label :message_text %></th>
    <td><%= form.text_field :message_text, size: 50 %></td>
  </tr>
  <% if current_user %>
  <tr>
    <th><%= form.label :answer_text %></th>
    <td><%= form.text_area :answer_text, rows: 10, cols: 45 %></td>
  </tr>
  <% end %>
  <tr>
    <th><%#= form.label :status %></th>
    <td><%#= form.select :status, Message.status_options %></td>
  </tr>
</table>
