<% set_meta_tags title: @user.name + 'に届いた質問', description: @message.message_text + $description, og: { title: @message.message_text, image: @message.message_image } %>

<h3 class="c-batch--secondary">
	<span>届いたリクエスト</span>
</h3>

<% if @message.answer_text %>
<div class="c-answer__item">
	<h2 class="c-answer__item__text"><%= @user.name %>さんの回答</h2>
	<p class="c-answer__item__title"><%= raw Rinku.auto_link(@message.answer_text, :all, 'target="_blank"') %></p>
</div>
<% end %>

<div class="c-message">
	<div class="c-message__item">
		<div class="c-message__item__link">
			<%= image_tag @message.message_image, alt: @message.message_text %>
		</div>
	</div>
</div>

<% if current_user == @message.author %>
	<div class="c-btn--accent u-mt25">
		<%= link_to "回答する", edit_user_message_path(@user.nandeda_id, @message), data: {"turbolinks"=>false} %>
	</div>
<% end %>

