.c-answer {
	&__item {
		margin: 16px 0 0;
		background: #ffffff;
		border-radius: 10px;
		-webkit-box-shadow: 0 2px 4px hsla(0,0%,76%,.2);
		box-shadow: 0 2px 4px hsla(0,0%,76%,.2);
		padding: 16px;
		display: block;
		width: 100%;

		&__text {
			@include fontsize(10);
			font-weight: bold;
			color: $darkgray99;
		}

		&__title {
			@include fontsize(14);
			margin: 8px 0 0;

			a {
				color: blue;
				text-decoration: underline;
			}
		}

		// &__link {
		// 	@include fontsize(10);
		// 	margin: 8px 0 0;
		// }
	}
}