.c-btn {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	background: $defaultColor;
	border-radius: 60px;
	text-align: center;
	@include fontsize(16);
	font-weight: bold;

	a,
	input {
		width: 100%;
		display: block;
		color: #ffffff;
		padding: 12px 0;
	}

	input[type="submit"] {
		cursor: pointer;
	}

	&--normal {
		@extend .c-btn;
		background: $darkgray1A;
	}

	&--twitter {
		@extend .c-btn;
		background: #1da1f2;
		color: #ffffff;
	}

	&--accent {
		@extend .c-btn;
		background: $accentColor;
	}

	&--more {
		@extend .c-btn;
		// background: $moreColor;
	}

	&--primary {
		@extend .c-btn;
		background: #fff;
		border: 1px solid $primaryColor;
		color: $primaryColor;
	}

	&--secondary {
		@extend .c-btn;
		background: $secondaryColor;
	}
}

