<header class="p-header">
	<div class="p-header__inner">
		<div class="p-header__logo">
			<%= link_to "Monofy", root_path %>
		</div>

		<div class="p-header__menu__btn c-humberger">
			<i class="fa fa-th-list" aria-hidden="true"></i>
		</div>

		<div class="p-header__menu">
			<ul class="p-header__list c-flex">
				<li class="p-header__item">
					<%= link_to "マイページ", users_path %>
				</li>
			</ul>
		</div>
	</div>
</header>
