.p-footer {
  width: 100%;
  @include fontsize(10);
  background: $primaryColor;
  text-align: center;
  color: #ffffff;

  a {
    color: #ffffff;
  }

  &--small {
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      @include fontsize(12);
      margin: 0 8px;
    }
  }
}
