.c-btn {
	width: 100%;
	box-shadow: 0 1px 1px 0 $darkgray9B;
	border: 1px solid $defaultColor;
	border-radius: 2px;
	text-align: center;
	display: block;
	padding: 16px 0;
	@include fontsize(14);
	font-weight: bold;
	color: $defaultColor;

	&--normal {
		@extend .c-btn;
		color: $darkgray1A;
		border: 1px solid $darkgray1A;
	}

	&--twitter {
		@extend .c-btn;
		color: #1da1f2;
		border: 1px solid #1da1f2;
	}

	&--accent {
		@extend .c-btn;
		background: $accentColor;
	}

	&--more {
		@extend .c-btn;
		background: $moreColor;
	}

	&--primary {
		@extend .c-btn;
		background: #fff;
		border: 1px solid $primaryColor;
		color: $primaryColor;
	}

	&--secondary {
		@extend .c-btn;
		background: $secondaryColor;
	}
}
